<th:block th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${pageTitle }"></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- Bootstrap CSS-->
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}">
	<!-- Custom -->
	<link href="/css/stylesheet.css" rel="stylesheet" media="all" th:href="@{/css/stylesheet.css}">
</th:block>